{% extends 'layout.swig' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="./build/index/index.css">
{% endblock %}

{% block content %}
    <div class="section1">
        <!-- 跑马灯 -->
        <div id='home-page-carousel' class='my-carousel'>
            <div class="carousel-content-panel home-page-carousel">
                <div class='carousel-content-item'>
                    <img src="./img/slide-1.png">
                </div>
                <div class='carousel-content-item'>
                    <img src="./img/slide-1.png">
                </div>
                <div class='carousel-content-item'>
                    <img src="./img/slide-1.png">
                </div>
            </div>
            <div class="carousel-dot-panel">
                <div class="carousel-text-items">
                    <div data-index='0' class="carousel-text-item active">2016我县xxxxxxxxx发育良好</div>
                    <div data-index='1' class="carousel-text-item">2</div>
                    <div data-index='2' class="carousel-text-item">3</div>
                </div>
                <!-- inject dots -->
            </div>
        </div>

        <!-- 动态面板 -->
        <div id='home-page-notice' class="my-tab">
            <div class="tab-header">
                <ul>
                    <li class="active" data-index='1'>本地要闻</li>
                    <li data-index='2'>民生新闻</li>
                    <li data-index='3'>政务动态</li>
                </ul>
            </div>
            <div class="tab-content">
                <div class='content active' data-index='1'>
                    <ul>
                        <li>
                            <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                            <p class="date">04-24</p>
                        </li>
                        <li>
                            <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                            <p class="date">04-24</p>
                        </li>
                        <li>
                            <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                            <p class="date">04-24</p>
                        </li>
                        <li>
                            <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                            <p class="date">04-24</p>
                        </li>
                        <li>
                            <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                            <p class="date">04-24</p>
                        </li>
                        <li>
                            <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                            <p class="date">04-24</p>
                        </li>
                        <li>
                            <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                            <p class="date">04-24</p>
                        </li>
                        <li>
                            <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                            <p class="date">04-24</p>
                        </li>
                    </ul>
                </div>
                <div class='content ' data-index='2'>2</div>
                <div class='content ' data-index='3'>3</div>
            </div>
        </div>
    </div>

    <div class="section2">
        <img src="./img/home-ad.png">
    </div>

    <div class="section3">
        <div class="column">
            <div id='zhengwu' class="my-tab">
                <div class="tab-header">
                    <div >
                        <img src="./img/3.png">
                    </div>
                    <ul>
                        <li class="active" data-index='1'>最新公开</li>
                        <li data-index='2'>政策采购</li>
                        <li data-index='3'>政策文件</li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class='content active' data-index='1'>
                        <ul>
                            <li>
                                <p class="title"><a href="#">南海仲裁在即 多架疑中国空军涂装歼20战机升空(图)</a></p>
                                <p class="date">2014-04-24</p>
                            </li>
                        </ul>
                    </div>
                    <div class='content ' data-index='2'>2</div>
                    <div class='content ' data-index='3'>3</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div id='zhengfa' class="my-tab">
                <div class="tab-header">
                    <div >
                        <img src="./img/2.png">
                    </div>
                    <ul>
                        <li class="active" data-index='1'>本地要闻</li>
                        <li data-index='2'>民生新闻</li>
                        <li data-index='3'>政务动态</li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class='content active' data-index='1'>1</div>
                    <div class='content' data-index='2'>2</div>
                    <div class='content' data-index='3'>3</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div id='hudong' class="my-tab">
                <div class="tab-header">
                    <div >
                        <img src="./img/1.png">
                    </div>
                    <ul>
                        <li class="active" data-index='1'>本地要闻</li>
                        <li data-index='2'>民生新闻</li>
                        <li data-index='3'>政务动态</li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class='content active' data-index='1'>1</div>
                    <div class='content' data-index='2'>2</div>
                    <div class='content' data-index='3'>3</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div id='fuwu' class="my-tab">
                <div class="tab-header">
                    <div >
                        <img src="./img/4.png">
                    </div>
                    <ul>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class='content active'>1</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div id='tongzhi' class="my-tab">
                <div class="tab-header">
                    <div >
                        <img src="./img/5.png">
                    </div><!--
                 --><ul>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class='content active'>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div id='zhuanti' class="my-tab">
                <div class="tab-header">
                    <div >
                        <img src="./img/6.png">
                    </div>
                    <ul>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class='content active'>1</div>
                </div>
            </div>
        </div>
    </div>

    <div class="section4">
        <ul class="link">
            <li class="link-node">
                政府部门网站
                <div class="link-dropdown">
                    <ul class="link-list">
                        <li><a href="#">xxx官网</a></li>
                        <li><a href="#">xxx官网</a></li>
                        <li><a href="#">xxx官网</a></li>
                    </ul>
                </div>
            </li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>

{% endblock %}

{% block script %}
    <script src="./build/index/index.js" type="text/javascript"></script>
{% endblock %}