

div.section1 {
    padding: 10px;

    div#home-page-carousel {
        vertical-align: top;
        width: 550px;
        height: 300px;
        background: #eee;
        display: inline-block;
    }

    div#home-page-notice {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        width: 410px;
        border: 1px solid #c5bfbf;

        div.tab-header {
            background: #efefef;

            ul {
                font-size: 1.7rem;

                li {
                    float: left;
                }
            }
        }

        div.tab-content {
            div.content {
                font-size: 1.5rem;
            }
        }
    }
}