@import '../util';

div.section1 {
    padding: 10px;

    div#home-page-carousel {
        vertical-align: top;
        width: 550px;
        height: 300px;
        background: #eee;
        display: inline-block;
    }

    div#home-page-notice {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        width: 410px;
        border: 1px solid #c5bfbf;

        div.tab-header {
            background: #efefef;

            ul {
                font-size: 1.7rem;

                li {
                    float: left;
                }
            }
        }

        div.tab-content {
            div.content {
                font-size: 1.5rem;
            }
        }
    }
}

div.section3 {
    div.column {
        display: inline-block;
        width: 480px;
        margin: 20px 0px 0px;
        
        &:nth-child(2n) {
            margin-left: 30px;
        }

        div.my-tab {
            
            div.tab-header {
                >div {
                    display: inline-block;
                    width: 120px
                }
                >ul {
                    display: inline-block;
                    width: 358px;
                    height: 40px;
                    margin-left: -3px;

                    li {
                        color: #6d6868;
                        padding-top: 10px;
                    }
                }
            }
            div.tab-content {
                border: 1px solid #e6e0e0;
                border-top: none;
            }
        }
        div#zhengwu,div#zhengfa {
            div.tab-header ul {
                border-bottom: 2px solid #185cc3;

                li {
                    border: none;
                    
                    &.active {
                        color: #185cc3;
                        border-top: 2px solid #185cc3;
                    }
                }
            }
        }
        div#hudong,div#fuwu {
            div.tab-header ul {
                border-bottom: 2px solid #077533;

                li {
                    border: none;
                    
                    &.active {
                        color: #077533;
                        border-top: 2px solid #077533;
                    }
                }
            }
        }
        div#tongzhi,div#zhuanti {
            div.tab-header ul {
                border-bottom: 2px solid #ff0d00;

                li {
                    border: none;
                    
                    &.active {
                        color: #ff0d00;
                        border-top: 2px solid #ff0d00;
                    }
                }
            }
        }
    }
}

div.section4 {
    margin: 20px 0px;
    color: grey;

    ul.link {
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 1.4rem;

        &:after {
            @extend .clear-fix;
        }

        li {
            float: left;
            width: 167px;
            margin-right: 40px;
            text-align: center;
            position: relative;
            border: 1px solid #e6e0e0;
            padding: 5px 0;

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    div.link-dropdown {
        position: absolute;
        background: #ffffff;
        width: 100%;
        top: 27px;
        border: 1px solid #e6e0e0;
        transform: translateY(-5px);
        transition: all 0.2s;
        z-index: 1;
        opacity: 0;

        ul.link-list {
            width: 100%;
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                width: 100%;
                border: none;
                margin: 0px;
                padding: 10px 0px;
                border-top: 1px dashed #e6e0e0;

                &:first-child {
                    border: none;
                }

                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: grey;
                }
            }
        }
        
        &.active {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}