// global style
html {
    font-size: 10px;

    body {
        div, input, li {
            box-sizing: border-box;
        }
        div.container {
            width: 1000px;
            margin: 0 auto;
        }
        .clear-fix {
            content: '';
            display: block;
            clear: both;
            visibility: hidden;
        }
    }
} 

// partials style
// - topbar
div.topbar {
    padding: 10px 0px;
    font-size: 1.4rem;
    color: grey;

    &:after {
        @extend .clear-fix;
    }

    div.left-menu {
        float: left;
        padding-top: 5px;
        
        span.date {

        }
        span.weather {
            margin-left: 20px;
        }
    }
    div.right-menu {
        float: right;
        
        div {
            display: inline-block;
            position: relative;

            &.search-bar {
                width: 240px;
                input {
                    outline: none;
                    padding: 5px;
                    width: 180px;
                    height: 30px;
                    border: 1px solid #ada7a7;
                }
                button {
                    position: absolute;
                    width: 60px;
                    height: 100%;
                    background: #EA3C3D;
                    outline: none;
                    border: 1px solid #ada7a7;
                    color: #ffffff;
                }
            }
            &.link-bar {
                ul.link {
                    list-style: none;
                    margin: 0px 20px;
                    padding: 0px;
                    
                    &:after {
                        @extend .clear-fix;
                    }

                    li {
                        float: right;
                        width: 60px;
                        margin-left: 10px;

                        a {
                            color: grey;
                            font-size: 1.4rem;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

// - topbanner
div.topbanner {
    background:grey;

    img {
        width: 1000px;
        height: 142px;
        display: block;
    }
}

// - navibar
navi.navibar {
    ul.navi-list {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li.navi-item {
            float: left;
            width: 125px;
            height: 40px;
            padding-top: 9px;
            text-align: center;
            border-right: 1px solid #c7bebe;
            background-image: url(../img/navi_item_bg.png);
            background-repeat: repeat-x;
            
            &.active {
                background: #b50002;
            }

            &:last-child {
                border-right: none;
            }

            a {
                color: #fff;
                font-size: 2rem;
                text-decoration: none;
            }
        }

        &:after {
            @extend .clear-fix;
        }
    }
}

// plugins
// - slick-carousel
div.carousel {
    position: relative;

    div.carousel-content-panel {
    }

    div.carousel-dot-panel {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: #b1b1b1;


        div.carousel-text-items {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 14px 40px 0px;
            font-size: 2rem;
            color: #fff;

            div.carousel-text-item {
                opacity: 0;
                transition: all 0.5s;
                visibility: hidden;
                position: absolute;

                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        ul.carousel-dot {
            list-style: none;
            position: absolute;
            right: 0;
            margin: 0;
            padding: 15px 20px;

            &:after {
                @extend .clear-fix;
            }

            li {
                float: left;
                margin-left: 10px;

                button {
                    color: #fff;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    display: inline-block;
                    background: #fff;
                    border: none;
                    outline: none;
                }

                &.slick-active {
                    button {
                        color: #e65151;
                        background: #e65151;
                    }
                }
            }
        }
    }
}