@import 'util';

// global style
html {
    font-size: 10px;

    body {
        div, input, ul, li {
            box-sizing: border-box;
        }
        div.container {
            width: 1000px;
            margin: 0 auto;
        }
    }
} 

// partials style
// - topbar
div.topbar {
    padding: 10px 0px;
    font-size: 1.4rem;
    color: grey;

    &:after {
        @extend .clear-fix;
    }

    div.left-menu {
        float: left;
        padding-top: 5px;
        
        span.date {

        }
        span.weather {
            margin-left: 20px;
        }
    }
    div.right-menu {
        float: right;
        
        div {
            display: inline-block;
            position: relative;

            &.search-bar {
                width: 240px;
                input {
                    outline: none;
                    padding: 5px;
                    width: 180px;
                    height: 30px;
                    border: 1px solid #ada7a7;
                }
                button {
                    position: absolute;
                    width: 60px;
                    height: 100%;
                    background: #EA3C3D;
                    outline: none;
                    border: 1px solid #ada7a7;
                    color: #ffffff;
                }
            }
            &.link-bar {
                ul.link {
                    list-style: none;
                    margin: 0px 20px;
                    padding: 0px;
                    
                    &:after {
                        @extend .clear-fix;
                    }

                    li {
                        float: right;
                        width: 60px;
                        margin-left: 10px;

                        a {
                            color: grey;
                            font-size: 1.4rem;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

// - topbanner
div.topbanner {
    background:grey;

    img {
        width: 1000px;
        height: 142px;
        display: block;
    }
}

// - navibar
navi.navibar {
    ul.navi-list {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li.navi-item {
            float: left;
            width: 125px;
            height: 40px;
            padding-top: 9px;
            text-align: center;
            border-right: 1px solid #c7bebe;
            background-image: url(../img/navi_item_bg.png);
            background-repeat: repeat-x;
            
            &.active {
                background: #b50002;
            }

            &:last-child {
                border-right: none;
            }

            a {
                color: #fff;
                font-size: 2rem;
                text-decoration: none;
            }
        }

        &:after {
            @extend .clear-fix;
        }
    }
}

div.footer {
    font-size: 1.3rem;
    color: grey;
    padding: 20px 0px;
    background: #f5f3f3;

    div.footer-link {
        text-align: center;

        ul {
            list-style: none;
            display: inline-block;
            margin: 0;
            padding: 15px 20px;

            &:after {
                @extend .clear-fix;
            }

            li {
                float: left;
                text-align: center;
                padding: 0 10px;
                border-right: 1px solid grey;

                a {
                    text-decoration: none;
                    cursor: pointer;
                }

                &:last-child {
                    border-right: transparent;
                }
            }
        }
    }
    div.footer-info {
        p {
            text-align: center;
        }
    }
}

div.registration {
    padding: 30px 0px;

    div.reg-img {
        text-align: center;

        img {
            margin: 0px 20px;
            width: 60px;
            height: 40px;
        }
    }
}

// plugins
// - slick-carousel
div.my-carousel {
    position: relative;

    div.carousel-content-panel {
    }

    div.carousel-dot-panel {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: rgba(84, 84, 84, 0.80);


        div.carousel-text-items {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 14px 40px 0px;
            font-size: 2rem;
            color: #fff;

            div.carousel-text-item {
                opacity: 0;
                transition: all 0.5s;
                visibility: hidden;
                position: absolute;

                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        ul.carousel-dot {
            list-style: none;
            position: absolute;
            right: 0;
            margin: 0;
            padding: 15px 20px;

            &:after {
                @extend .clear-fix;
            }

            li {
                float: left;
                margin-left: 10px;

                button {
                    color: #fff;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    display: inline-block;
                    background: #fff;
                    border: none;
                    outline: none;
                }

                &.slick-active {
                    button {
                        color: #e65151;
                        background: #e65151;
                    }
                }
            }
        }
    }
}

// - tab-panel
div.my-tab {
    div.tab-header {
        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 50px;
            font-size: 1.6rem;
            
            &:after {
                @extend .clear-fix;
            }

            li {
                padding-top: 15px;
                height: 100%;
                float: left;
                text-align: center;
                width: 33.3333%;
                color: #000;
                cursor: pointer;

                &.active {
                    color: #ef2020;
                    font-weight: bold;
                    border-bottom: 4px solid #ef2020;
                }
            }
        }
    }
    div.tab-content {
        height: 248px;
        position: relative;

        div.content {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: none;
            font-size: 1.4rem;

            &.active {
                display: block;
            }

            ul {
                list-style: circle;
                margin: 20px 0;
                padding-left: 40px;

                li {
                    margin-top: 10px;

                    p {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0px;
                        padding: 0px;

                        a {
                            text-decoration: none;
                        }

                        &.title {
                            width: 80%;
                            text-overflow: ellipsis;/*这就是省略号喽*/        
                            overflow: hidden;/*设置超过的隐藏*/
                            white-space: nowrap;/*设置不折行*/
                        }
                        &.date {
                            width: 18%;
                        }
                    }
                }
            }
        }
    }
}

